.superInput {
    background-color: red;
}

.errorInput {
    border: 2px solid darkgray;
    background: whitesmoke;
    margin: 5px;

}

.error {
    color: black;
    font-weight: bold;
}

.input:focus {
    outline: none;
    border: 5px solid;
}
