.link {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.link:hover{
    text-decoration: underline red;

}

.block{
    width: 21px;
    height: 21px;

    margin: 10px;

    background: black;
}

.header{
    display: flex;

    width: 280px;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}

