@keyframes blink {
    0%{
        bottom: -130%
    }
    100%{
        top: 130%;
    }
}

.default {
    background-color: lightgray;
    border-radius: 10px;
    outline: none;
}

.red {
    background: darkgray;
    margin: 5px;
}


